.App {
  text-align: center;
}

.nav{
  background-color: #fff;
  box-shadow: 5px 10px 10px 0px whitesmoke;
}

img {
  height: 70px;
  display: flex;
}


#bar{
  box-shadow: 5px 10px 10px 0px whitesmoke;
  
}

footer{
  background-color: black;
  color: #fff;
}


